nextflow.enable.dsl=2
$INITIAL_RUN_TYPE="gzip"

params.input = ""           //* @input @single_file @label:"Input Seurat Object (.rds)"
params.reference = ""       //* @input @single_file @label:"Reference (.rds)"
params.reference_index = "" //* @input @single_file @label:"Reference Index (.annoy)"

    
//* autofill
if ($HOSTNAME == "default"){
    $DOCKER_IMAGE = "quay.io/ummsbiocore/pipeline_base_image:1.0"
}
//* autofill